<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- v-cloak is directives  -->
      <h1>{{ fullName() }}</h1>
      <h1>{{ fullNameC }}</h1>
      <hr />
      <a :href="url">Google</a>
      <p v-html="raw_html"></p>
      <!-- <p>{{ age }}</p> -->

      <button @click.="age++">inc</button>
      <button @click="age--">dec</button>
      <hr />
      <form @submit.prevent="">
        <label for="">FirstName</label>
        <input type="text" v-model.trim="firstName" />
        <label for="">middle name</label>
        <input type="text"  v-model.trim="middleName" />
        <label for="">age</label>
        <input type="number" v-model="age" />
        <label for="">LastName</label>
        <input
          type="text"
          :value="lastName"
          @input="changeLastName('lastname is changed', $event)"
        />
        <button type="submit">Submit</button>
      </form>
      <div>
        <select v-model="selectedOptions">
          <option value="">Black</option>
          <option value="text_yellow">Yellow</option>
          <option value="text_green">Green</option>
        </select>
        <h2 :class="selectedOptions">Text color</h2>
      </div>
      

      <div>
        <hr>
        <p v-show="selectedOptions == 'text_yellow'">v-if</p>
        <hr>
        <p v-if="selectedOptions == 'text_yellow'">v-if</p>
        <p v-else-if="selectedOptions == 'text_green'">v-else-if</p>
        <p v-else>v-else</p>
      </div>
    </div>
    <hr>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
