body {
  font-size: 22px;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}
[v-cloak]{
  display: none;
}

.text_black{
  color: black;
}
.text_yellow{
  color: yellow
}
.text_green {
  color: green;
}